{% extends "base.html" %}
{% block content %}
    <div class="well well-large">
        <div class="pull-right">
          <p><a href="{{ url_for('parse_movie', slug=movie.slug) }}">Wikipedia</a></p>
          <img src="{{ movie.avatar(256) }}" class="img-polaroid">
        </div>
        <h1>
          {{ movie.title }}
	      {% if not movie.user_id or movie.user_id == g.user.id %}
          <a href="{{ url_for('edit_movie', slug = movie.slug) }}"><span class="glyphicon glyphicon-edit"></span></a> 
          <a href="{{ url_for('delete', id = movie.id) }}"><span class="glyphicon glyphicon-trash"></span></a>
		    {% endif %}
        </h1>
        {% if movie.original_title %}
        <h2>{{ movie.original_title }}</h2>
		    {% endif %}
        <div>
          <ul class="iconset">
            <li><a href="{{ movie.wikipedia }}" target="_blank"><img src="{{ url_for('static', filename='images/wikipedia.png') }}" width="32" height="32"></a></li>
            <li><a href="http://lurkmore.to/{{ movie.title }}" target="_blank"><img src="{{ url_for('static', filename='images/lurkmore.png') }}" width="32" height="32"></a></li>
            <li><a href="https://www.google.ru?q={{ movie.title }}" target="_blank"><img src="{{ url_for('static', filename='images/google.png') }}" width="32" height="32"></a></li>
            <li><a href="http://posmotre.li/{{ movie.title }}" target="_blank"><img src="{{ url_for('static', filename='images/posmotreli.png') }}" width="32" height="32"></a></li>
	      </ul>
          {% if movie.genres %}
          <p>{{ movie.genre_names }}</p>
          {% endif %}
          <ul>
            <li>{{_('Directed by')}} {directors}</li>
            <li>{{_('Produced by')}} {producers}</li>
            <li>{{_('Written by')}} {writers} </li>
            <li>{{_('Screenplay by')}} {screenplay}</li>
            <li>{{_('Story by')}} {story}</li>
            <li>{{_('Based on')}} {based on}</li>
            <li>{{_('Starring')}} {starring}</li>
            <li>{{_('Narrated by')}} {narrators}</li>
            <li>{{_('Music by')}} {music}</li>
            <li>{{_('Cinematography')}} {cinematography}</li>
            <li>{{_('Edited    by')}} {editing}</li>
            <li>{{_('Production company')}} {production companies}</li>
            <li>{{_('Distributed by')}} {distributor}</li>
            <li>{{_('Release date')}} {released}</li>
            <li>{{_('Running time')}} {runtime}</li>
            <li>{{_('Country')}} {country}</li>
            <li>{{_('Language')}} {language}</li>
            <li>{{_('Budget')}} {budget}</li>
            <li>{{_('Box office')}} {gross}</li>   
        </ul>
        <p><em>{{_('Added %(added)s by %(user)s', added=momentjs(movie.timestamp).calendar(), user=movie.posted_by.nickname)}}</em></p>
        </div>
        <div>
          {{ movie.description }}
        </div>
        </p>
    </div>
{% endblock %}

