Flask==0.12
Flask-WTF==0.14.2
Flask-SQLAlchemy==2.2
Flask-Migrate==2.0.3
Flask-Login==0.4.0
Flask-OpenID==1.2.5
git+git://github.com/miguelgrinberg/flask-whooshalchemy.git
Flask-Mail==0.9.1
Flask-Babel==0.11.1
guess_language-spirit==0.5.3
coverage<4.0.0
