{% extends "base.html" %}
{% block content %}
  <h1>{{ _('Edit Movie') }}</h1>
    <div class="well">
        {% from "formhelper.html" import render_field %}
        <form class="form-horizontal" action="" method="post" name="edit">
            {{ form.hidden_tag() }}
            {{ render_field(form.title, class="span4") }}
            {{ render_field(form.slug, class="span4", maxlength=64) }}
            {{ render_field(form.description, class="span4", cols=64, rows=4) }}
            <div class="control-group">
                <div class="controls">
                  <input class="btn btn-primary" type="submit" value="{{ _('Save') }}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
