{% extends "base.html" %}
{% block content %}
    <div class="well well-large">
        <h1>
          {{ movie.title }}
	      {% if not movie.user_id or movie.user_id == g.user.id %}
          <a href="{{ url_for('edit_movie', slug = movie.slug) }}"><span class="glyphicon glyphicon-edit"></span></a> 
          <a href="{{ url_for('delete', id = movie.id) }}"><span class="glyphicon glyphicon-trash"></span></a>
		  {% endif %}
        </h1>
        <h2>{caption}</h2>
        <div class="pull-right">
          <img src="{{ movie.avatar(256) }}" class="img-polaroid">
        </div>
        <div>
          <p><a href="{{ movie.wikipedia }}" target="_blank">{{_('Wikipedia')}}</a></p>
          <ul>
            <li>{{_('Directed by')}} {directors}</li>
            <li>{{_('Produced by')}} {producers}</li>
            <li>{{_('Written by')}} {writers} </li>
            <li>{{_('Screenplay by')}} {screenplay}</li>
            <li>{{_('Story by')}} {story}</li>
            <li>{{_('Based on')}} {based on}</li>
            <li>{{_('Starring')}} {starring}</li>
            <li>{{_('Narrated by')}} {narrators}</li>
            <li>{{_('Music by')}} {music}</li>
            <li>{{_('Cinematography')}} {cinematography}</li>
            <li>{{_('Edited    by')}} {editing}</li>
            <li>{{_('Production company')}} {production companies}</li>
            <li>{{_('Distributed by')}} {distributor}</li>
            <li>{{_('Release date')}} {released}</li>
            <li>{{_('Running time')}} {runtime}</li>
            <li>{{_('Country')}} {country}</li>
            <li>{{_('Language')}} {language}</li>
            <li>{{_('Budget')}} {budget}</li>
            <li>{{_('Box office')}} {gross}</li>   
        </ul>
        <p><em>{{_('Added %(added)s by %(user)s', added=momentjs(movie.timestamp).calendar(), user=movie.posted_by.nickname)}}</em></p>
        </div>
        <div>
          {{ movie.description }}
        </div>
        </p>
    </div>
{% endblock %}

