<div class="col-md-4">
  <div class=" movie-block well">
    <div class="movie-brief">
      <div class="pull-left movie-avatar"><a href="{{ url_for('view_person', slug=person.slug) }}"><img src="{{ person.avatar(64, 80) }}"></a></div>
      <h4>
        <a href="{{ url_for('view_person', slug=person.slug) }}">{{ person.get_name() }}</a> 
        <a href="{{ url_for('edit_person', slug=person.slug) }}"><span class="glyphicon glyphicon-edit"></span></a> 
        <a href="{{ url_for('delete', id = person.id) }}"><span class="glyphicon glyphicon-trash"></span></a>
      </h4>
      <div>
        <p><strong><span id="movie{{ person.id }}">{{ person.description }}</span></strong></p>
      </div>
    </div>
  </div>
</div>

