<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='bower/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <!-- link href="/static/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" -->
    <script src="{{ url_for('static', filename='bower/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower/moment/moment.js') }}"></script>
    {% if g.locale != 'en' %}
    <script src="{{ url_for('static', filename='bower/moment/locale/' + g.locale + '.js') }}"></script>
    <script>
    moment.locale('{{g.locale}}');
    </script>
    {% endif %}
    <script>
    function translate(sourceLang, destLang, sourceId, destId, loadingId) {
    	$(destId).hide();
    	$(loadingId).show();
    	$.post('/translate', {
            text: $(sourceId).text(),
            sourceLang: sourceLang,
            destLang: destLang
        }).done(function(translated) {
            $(destId).text(translated['text'])
            $(loadingId).hide();
            $(destId).show();
        }).fail(function() {
            $(destId).text("{{ _('Error: Could not contact server.') }}");
            $(loadingId).hide();
            $(destId).show();
        });
    }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top tpl-bUserbarContent">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">{{ _('Toggle navigation') }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">What2Watch</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" action="{{ url_for('search') }}" method="post" name="search">
              {{ g.search_form.hidden_tag() }}
              <div class="form-group has-feedback has-feedback-left">
                {{ g.search_form.search(size=40, placeholder=_("Enter search text and press Enter"), class="form-control search-query")}}
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
              {% if g.user.is_authenticated %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ g.user.nickname }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">{{ _('Your Profile') }}</a></li>
                  <li><a href="{{ url_for('add_movie') }}">{{ _('Add Movie') }}</a></li>
                  <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
                </ul>
                </li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if g.user.is_authenticated %}
                <li><a class="eMyMovies" href="/index.php?do=feedback"><span class="eMyMoviesLink"><i class="eMyMoviesLinkIcon"></i>Îáðàòíàÿ ñâÿçü</span></a></li>
                <li><a class="eMyMovies" href="/rss.xml"><span class="eMyMoviesLink"><i class="eMyMoviesLinkIcon2"></i>RSS ëåíòà</span></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>


    <div class="container">
      <div class="row">
        <div class="span12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}    
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>   
  </body>
</html>
