{% extends "base.html" %}
{% block content %}
    {% if movies %}
    <div class="row">
      <div class="text-center">
        <ul class="pagination">
        {% if movies.has_prev %}
        <li><a href="{{ url_for('index', movies=movies.prev_num) }}">{{ _('Newer movies') }}</a></li>
        {% else %}
        <li class="disabled"><a href="#">{{ _('Newer movies') }}</a></li>
        {% endif %}
{% for page in movies.iter_pages() %}
    {% if page %}
      {% if page != movies.page %}
        <li><a href="{{ url_for('index', movies=page) }}">{{ page }}</a></li>
      {% else %}
        <li><span><strong>{{ page }}</strong></span></li>
      {% endif %}
    {% else %}
      <li><span class="ellipsis">…</span></li>
    {% endif %}
{% endfor %}
        {% if movies.has_next %}
        <li class=""><a href="{{ url_for('index', movies=movies.next_num) }}">{{ _('Older movies') }}</a></li>
        {% else %}
        <li class="disabled"><a href="#">{{ _('Older movies') }}</a></li>
        {% endif %}
      </ul>
    </div>
    {% for movie in movies.items %}
      {% include 'movie/brief.html' %}
    {% endfor %}     
    </div>
    {% endif %}  

    {% if g.user.is_authenticated %}
    <div class="well">
      <h1>{{ _('Hi, %(user)s!', user=g.user.nickname) }}</h1>
      <form class="form-horizontal" action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <div class="control-group{% if form.post.errors %} error{% endif %}">
          <label class="control-label" for="post">{{ _('Say something:') }}</label>
          <div class="controls">
            {{ form.post(size=30, maxlength=140) }}
            <input class="btn btn-primary" type="submit" value="{{ _('Post!') }}">
            {% for error in form.post.errors %}
              <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
    {% endif %}
    {% for post in posts.items %}
      {% include 'post.html' %}
    {% endfor %}      
    <ul class="pager">
        {% if posts.has_prev %}
        <li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">{{ _('Newer posts') }}</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">{{ _('Newer posts') }}</a></li>
        {% endif %}
        {% if posts.has_next %}
        <li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">{{ _('Older posts') }}</a></li>
        {% else %}
        <li class="next disabled"><a href="#">{{ _('Older posts') }}</a></li>
        {% endif %}
    </ul>

{info}
{content}
{k_links}   

{% endblock %}
