{% extends "base.html" %}
{% block content %}
  <h1>{{ _('Import From File') }}</h1>
    <div class="well">
        <form class="form-horizontal" action="" method="post" name="import" enctype="multipart/form-data">
            <div class="control-group">
              <label class="btn btn-default btn-file" for="importfile">
                {{ _('Browse') }}
                <input type="file" name="importfile">
              </label>
              <input class="btn btn-primary" type="submit" value="{{ _('Import') }}">
            </div>
        </form>
    </div>
{% endblock %}

